<%=form_for :roles_user, url: admin_roles_users_url, html:{method: :post}, remote:true  do |f| %>

  <div class="form-group">
    
      <%= hidden_field_tag 'roles_user[user_id]', user_id %>
      <%= select_tag 'roles_user[role_id]', options_for_select(Role.all.collect{ |u| [u[:name], u.id] }), include_blank: 'Select' %>
    </div>
  <div class="form-group">
    <%= f.submit "Save Role", class:"btn btn-default" %>
    </div>
<% end %>