

<div class="row">
<div class="col-sm-12">
 	 <div class="col-sm-6"> <h2>All Users Role</h2></div>
	 <div class="col-sm-6" style="text-align: right;">
	
	</div>
</div>
</div>
<div class="row">
  <div class="table-responsive">
<table  class="table table-striped table-bordered dt-responsive nowrap">
<thead>
<tr>
	<td>
		 Name
	</td>
	<td>
		Role	
	</td>
	
	
</tr>
</thead>
<tbody>
<% if @users.nil? ==true %>
	
	no data found

<% else %>
<% @users.each do |user| %>

<tr>
	<td>
		<%= user[:name] %>	

	</td>
	<td>
		<% if user.roles_user.role.nil? %>

			<%= render partial: 'new', locals:{ user_id: user.id } %>
			

		<% else %>
		 
			 <%= render partial: 'edit', locals: { user_id: user.id, roles_user: user.roles_user.role } %>

		<% end %>

	</td>

	
</tr>
<% end %>
<% end %>
</tbody>
</table>

</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
    $('.table').DataTable();
} );

</script>