 
 <div id="comment-posted" class="div-comment-posted">
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 nopadding" id="user-pic"><img class="img-circle user-pic" src="<%= comment.user.user_profile_pic%>" width="35px" id="user-pic-holder"></div>
                                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 nopadding" id="text-input-col">
                                        <div class="comment-post-holder">
                                            <p class="comment-posted-text-style"> 
                                          
                                            <%= auto_link(comment.comment, :html => {:target => '_blank'}).html_safe   %>


                                            </p>
                                            <% if comment.comment_pic.present? %>

                                            	<%= image_tag comment.comment_pic, width: '200px;' %>

                                            <% end %>
                                        </div>
                                    </div>
 </div>